<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Odczytaj plan zajęć</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="error-container" style="display:none; color: red;"></div>
    <div id="schedule-container"></div>
    <br/>
    <form id="schedule-form">
        <label>Data:</label>
            <input type="date" name="selected_date" value="">
        <br/>
        <label>Grupa seminaryjna:</label>
        <select name="group_seminaria" id="group-seminaria">
            <option value="">--</option>
            {% for group in groups %}
                <option value="{{group}}">{{group}}</option>
            {% endfor %}
        </select>
        <br/>
        <label>Grupa ćwiczeniowa:</label>
        <select name="group_cwiczenia" id="group-cwiczenia">
            <option value="">-- wybierz najpierw grupę seminaryjną--</option>
        </select>
        <br/>
        <label>Grupa zajęć praktycznych:</label>
        <select name="group_zajecia" id="group-zajecia">
            <option value="">-- wybierz najpierw grupę seminaryjną--</option>
        </select>
        <br/>
        <button type="submit">Zobacz plan</button>
    </form>
</script>
<script src="{{ url_for('static', filename='js/app.js') }}" defer></script> 
</body>
</html>